<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/">
<head>
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap-datepicker.standalone.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Cadastro de Casa</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" style="color: white">Shows</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/eventos/home">Home</a> <a
					class="nav-item nav-link active" href="/eventos">Evento</a> <a
					class="nav-item nav-link active" href="/casas">Casa</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid" style="margin-top: 10px;">
		<h1>Pesquisa Casa</h1>
		<a class="btn btn-link" href="/casas/nova">Criar novo titulo</a>
		<div class="form-group">
			<div class="col-lg-4"></div>
		</div>
		<table id="casa" class="table table-striped table-dark">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Local</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="casa : ${casas}">
					<td th:text="${casa.codigo}">1</td>
					<td th:text="${casa.nome}"></td>
					<td th:text="${casa.local}"></td>
					<td><a class="btn btn-link btn-xs"
						th:href="@{/casas/{codigo}(codigo=${casa.codigo})}"> <span
							type="button" class="btn btn-primary">Editar</span>
					</a> <a class="btn btn-link btn-xs"
						th:href="@{/casas/excluir/{codigo}(codigo=${casa.codigo})}"> <span
							type="button" class="btn btn-danger">Excluir</span>
					</a></td>
				</tr>
				<tr>
					<td th:if="${#lists.isEmpty(casas)}">Nenhuma casa foi
						encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>